
.imageBenefits{
  
}
.image{
  float:left;
}
.textBenefits{
  display:flex;
  flex-direction: column;
}
.benefits{
  display:flex;
}
.titleBenefits{
}
table{
 border:2px solid purple;
 border-collapse:collapse;
 float:right;
}
/*.pointsBenefits{
margin: 5% 50% 0% 10%;
display:flex;
flex-direction: column;
}*/

.rowPointsBenefits{
 

}